# FIT5196 Assessment 1
#### Student Name: NIkhil Taralkar
#### Student ID: 28980433

Date: 08/04/2017

Version: 2.0

Environment: Python 2.7.0 and Anaconda 4.3.0 (64-bit)

Libraries used: 

* Json
* Pandas
* re


## 1. Introduction
This assignment comprises the execution of pdf data processing and analysis tasks applied to documents in PDF format. This task focuses on converting the health in an PDF file ("health.pdf") into a csv file. Moreover, it mainly focuses on extracting the pdf data, rearranging the data in more redable format and converting it into csv file for further analysis.

## *Task  - Extract Data from a PDF File*

The PDF file, "health.pdf", contains the children's health data over 202 countries in the world. The table spreads over four pages. The below code is parsing pdf pages 1-3, while the 4th page is parsed using Tabula. The required task are the following:

- Correctly parse and extract the table
- It is not required to extract the column labels. Except for the first column, which should be named as "Country Name", the other columns should be indexed with integers as shown in the figure;
- If the number followed by a character "x" in the pdf file,  "x" must be dropped in your script
- Extracted table should be saved in a CSV file named as "health.csv".

## 2. Import Libraries

In [16]:
# importing Libraries

import pandas as pd
import re
from pdftables import get_tables

## 3. Reading PDF data

In [17]:
# reading pdf file

pdfFile = './health.pdf'
pdfobj = open(pdfFile, 'rb')
tables = get_tables(pdfobj)

# loop to get rid of special characters and unwanted text
for table in tables:
    for row in table:
        for i in xrange(len(row)):
            row[i] = row[i].encode('utf-8')
            row[i] = row[i].replace('\xe2\x80\x93', '-')
            row[i] = row[i].replace('\xe2\x80\x99', '\'')
        print row

['TABLE 3. H', 'EA', 'LT', 'H', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', 'I', 'mmuni', 'zation c', 'overage', '(%)', '', '', '', 'Pneumonia', 'Diarrhoea', '', 'Malaria', '']
['', 'Udris', 'se of bnking ervices', 'asic water  (%)', 'Use of bsanitatiservices', 'asic on  (%)', '', '', '', '', '', '', '', '', '', '', 'Protection at birth (PAB) against', 'Care seekingfor children with  symptoms of', 'Treatment with oral rehydra-tion salts', 'Care seeking for children with fever', 'Children sleep-ing under', 'House-holds with at least one']
['Countries', '', '2015', '', '2015', '', 'BCG', 'DTP1\xce\xb2', 'DTP3\xce\xb2', 'polio3', 'MCV1', 'MCV2^', 'HepB3', 'Hib3', 'rota', 'PCV3', 'tetanus\xce\xbb', 'pneumonia (%)', '(ORS) (%)', '(%)', 'ITNs (%)', 'ITN (%)']
['and areas', 'total', 'urban', 'rural', 'totalurban', 'rural', '', '', '', '', '', '2016', '', '', '', '', '', '', '2', '011-2016*', '', '']
['Afghanistan', '63', '89', '53', '3956', '33', '74', '73', '65', '60', '62', '39', '65', '65', '0', '65', '65', '62', '46', '63', '5', '26']
['Albania', '91', '93', '90', '9898', '97', '99', '99', '98', '98', '96', '98', '98', '98', '0', '98', '92', '70x', '54x', '71x', '-', '-']
['Algeria', '93', '95', '89', '8790', '82', '99', '96', '91', '91', '94', '96', '91', '91', '0', '61', '92', '66', '25', '-', '-', '-']
['Andorra', '100', '100', '100', '100100', '100', '-', '99', '98', '98', '97', '90', '94', '98', '0', '92', '-', '-', '-', '-', '-', '-']
['Angola', '41', '63', '23', '3962', '21', '58', '79', '64', '66', '49', '26', '64', '64', '53', '58', '78', '49', '43', '51', '22', '31']
['Anguilla', '98', '98', '-', '9797', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
['Antigua and Barbuda', '97', '-', '-', '88-', '-', '-', '99', '99', '86', '98', '87', '99', '99', '0', '0', '-', '-', '-', '-', '-', '-']
['Argentina', '100', '100', '100', '9595', '94', '92', '97', '92', '87', '90', '88', '92', '92', '75', '82', '-', '94', '18', '-', '-', '-']
['Armenia', '99', '99', '99', '9296', '83', '99', '97', '94', '96', '97', '97', '94', '94', '94', '94', '-', '57x', '37', '71', '-', '-']
['Australia', '100', '100', '100', '100-', '-', '-', '98', '94', '94', '95', '94', '94', '94', '87', '94', '-', '-', '-', '-', '-', '-']
['Austria', '100', '100', '100', '100100', '100', '-', '99', '87', '87', '95', '89', '87', '87', '61', '0', '-', '-', '-', '-', '-', '-']
['Azerbaijan', '84', '95', '72', '8992', '87', '98', '98', '97', '98', '98', '98', '97', '97', '0', '97', '-', '36x', '11', '-', '1x', '-']
['Bahamas', '98', '-', '-', '92-', '-', '-', '95', '94', '94', '89', '74', '94', '94', '0', '94', '100', '-', '-', '-', '-', '-']
['Bahrain', '100', '-', '-', '100-', '-', '-', '99', '99', '99', '99', '99', '99', '99', '98', '99', '98', '-', '-', '-', '-', '-']
['Bangladesh', '97', '98', '97', '4754', '43', '99', '99', '97', '97', '94', '93', '97', '97', '0', '97', '97', '42', '77', '55', '-', '-']
['Barbados', '98', '-', '-', '96-', '-', '-', '99', '97', '97', '92', '87', '97', '97', '0', '96', '-', '-', '-', '-', '-', '-']
['Belarus', '98', '98', '99', '9494', '95', '98', '99', '98', '98', '98', '98', '96', '11', '0', '0', '-', '93', '45', '-', '-', '-']
['Belgium', '100', '100', '100', '9999', '99', '-', '99', '98', '98', '96', '85', '97', '97', '87', '94', '-', '-', '-', '-', '-', '-']
['Belize', '97', '99', '96', '8791', '84', '94', '98', '95', '96', '95', '96', '95', '95', '0', '0', '91', '67', '55', '71', '-', '-']
['Benin', '67', '77', '60', '1425', '5', '96', '86', '82', '78', '74', '0', '82', '82', '0', '75', '85', '23', '25', '44', '73', '77']
['Bhutan', '98', '97', '98', '6372', '57', '99', '99', '98', '97', '97', '90', '98', '98', '0', '0', '89', '74x', '61x', '-', '-', '-']
['Bolivia (Plurinational State of)', '93', '99', '79', '5364', '27', '99', '99', '99', '99', '99', '0', '99', '99', '99', '97', '87', '62', '22', '-', '-', '-']
['Bosnia and Herzegovina', '98', '97', '98', '9599', '92', '97', '90', '78', '79', '83', '78', '78', '69', '0', '0', '-', '87', '36', '-', '-', '-']
['Botswana', '79', '95', '58', '6075', '39', '98', '98', '95', '96', '97', '74', '95', '95', '95', '95', '92', '14x', '43x', '75x', '31', '53']
['Brazil', '97', '99', '87', '8691', '58', '99', '89', '86', '98', '96', '72', '86', '86', '94', '94', '93', '50x', '-', '-', '-', '-']
['British Virgin Islands', '100', '-', '-', '97-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
['Brunei Darussalam', '100', '100', '99', '9696', '97', '99', '99', '99', '99', '98', '97', '99', '99', '0', '0', '95', '-', '-', '-', '-', '-']
['Bulgaria', '99', '99', '99', '8687', '84', '96', '94', '92', '92', '92', '88', '91', '92', '0', '90', '-', '-', '-', '-', '-', '-']
['Burkina Faso', '54', '79', '43', '2348', '12', '98', '95', '91', '91', '88', '50', '91', '91', '91', '91', '92', '52', '40', '61', '75', '90']
['Burundi', '56', '88', '52', '5046', '51', '93', '97', '94', '94', '93', '72', '94', '94', '96', '94', '85', '63', '36', '69', '40', '46']
['Cabo Verde', '86', '93', '74', '6573', '51', '96', '96', '96', '95', '92', '95', '96', '96', '0', '0', '92', '-', '-', '-', '-', '-']
['Cambodia', '75', '96', '70', '4988', '39', '97', '92', '90', '87', '81', '58', '90', '90', '0', '87', '93', '69', '35', '61', '4x', '5x']
['Cameroon', '65', '84', '43', '3956', '19', '70', '92', '85', '83', '78', '0', '85', '85', '80', '84', '85', '28', '16', '33', '55', '71']
['Canada', '99', '-', '-', '99-', '-', '-', '96', '91', '91', '90', '86', '55', '91', '0', '79', '-', '-', '-', '-', '-', '-']
['Central African Republic', '54', '74', '41', '2549', '9', '74', '69', '47', '47', '49', '0', '47', '47', '0', '47', '60', '30x', '16x', '-', '36x', '47x']
['Chad', '43', '78', '32', '1033', '3', '56', '60', '46', '44', '58', '0', '46', '46', '0', '0', '80', '26', '20', '23', '36', '77']
['Chile', '100', '100', '100', '100100', '99', '97', '99', '95', '95', '93', '87', '95', '95', '0', '90', '-', '-', '-', '-', '-', '-']
['China', '96', '96', '96', '7586', '61', '99', '99', '99', '99', '99', '99', '99', '0', '0', '0', '-', '-', '-', '-', '-', '-']
['Colombia', '97', '100', '86', '8488', '72', '88', '93', '91', '91', '93', '87', '91', '91', '90', '89', '90', '64x', '54x', '54x', '-', '3x']
['Comoros', '84', '93', '80', '3447', '29', '94', '96', '91', '92', '99', '0', '91', '91', '0', '0', '85', '38', '38', '45', '41', '59']
['Congo', '68', '85', '37', '1520', '6', '85', '85', '80', '80', '80', '0', '80', '80', '80', '80', '85', '28', '28', '51', '61', '66']
['Cook Islands', '100', '-', '-', '98-', '-', '99', '99', '99', '99', '90', '90', '99', '99', '0', '0', '-', '-', '-', '-', '-', '-']
['Costa Rica', '100', '100', '100', '9798', '94', '89', '99', '97', '97', '93', '87', '97', '97', '0', '94', '-', '77', '40', '-', '-', '-']
["C\xc3\xb4te d'Ivoire", '73', '89', '54', '3045', '13', '95', '98', '85', '80', '77', '0', '85', '85', '0', '83', '90', '38', '17', '43', '37', '67']
['Croatia', '100', '100', '100', '9798', '96', '99', '98', '93', '93', '90', '96', '93', '93', '0', '0', '-', '-', '-', '-', '-', '-']
['Cuba', '95', '97', '90', '9192', '88', '99', '99', '99', '98', '99', '99', '99', '99', '0', '0', '-', '93', '61', '93', '-', '-']
['Cyprus', '100', '100', '100', '99100', '99', '-', '98', '97', '97', '90', '88', '97', '96', '0', '81', '-', '-', '-', '-', '-', '-']
['Czechia', '100', '100', '100', '9999', '99', '-', '98', '96', '96', '98', '93', '96', '96', '0', '0', '-', '-', '-', '-', '-', '-']
["Democratic People's Republic of Korea", '100', '100', '99', '7783', '68', '97', '97', '96', '99', '99', '98', '96', '96', '0', '0', '97', '80x', '74x', '-', '-', '-']
['Democratic Republic of the Congo', '42', '70', '21', '2023', '18', '80', '80', '79', '74', '77', '0', '79', '79', '0', '77', '85', '42', '39', '55', '56', '70']
['Denmark', '100', '100', '100', '100100', '100', '-', '97', '94', '94', '94', '85', '0', '94', '0', '94', '-', '-', '-', '-', '-', '-']
['Djibouti', '77', '83', '55', '5163', '13', '90', '90', '84', '84', '75', '82', '84', '84', '86', '82', '85', '94', '94', '-', '20x', '32']
['Dominica', '97', '-', '-', '78-', '-', '98', '99', '99', '99', '96', '92', '99', '99', '0', '0', '-', '-', '-', '-', '-', '-']
['Dominican Republic', '94', '97', '86', '8385', '74', '99', '98', '87', '82', '85', '0', '80', '73', '75', '30', '90', '73', '48', '65', '-', '-']
['Ecuador', '93', '100', '80', '8689', '80', '84', '94', '83', '79', '86', '76', '84', '84', '80', '84', '88', '-', '46', '-', '-', '-']
['Egypt', '98', '99', '98', '9397', '90', '96', '96', '95', '95', '95', '96', '95', '95', '0', '0', '80', '68', '28', '68', '-', '-']
['El Salvador', '93', '98', '83', '9193', '87', '99', '97', '93', '95', '90', '87', '93', '93', '93', '90', '90', '80', '70', '-', '-', '-']
['Equatorial Guinea', '50', '78', '31', '7580', '71', '48', '40', '19', '20', '30', '0', '19', '19', '0', '0', '70', '54', '40', '62', '23', '38']
['Eritrea', '19', '66', '6', '1129', '6', '97', '97', '95', '95', '93', '85', '95', '95', '96', '95', '94', '45x', '43x', '-', '20x', '71x']
['Estonia', '100', '100', '99', '100100', '100', '95', '94', '93', '93', '93', '92', '93', '93', '85', '0', '-', '-', '-', '-', '-', '-']
['Ethiopia', '39', '77', '30', '718', '4', '75', '86', '77', '75', '70', '0', '77', '77', '63', '76', '80', '30', '30', '35', '45', '64']
['Fiji', '94', '98', '89', '9696', '95', '99', '99', '99', '99', '94', '94', '99', '99', '99', '99', '94', '-', '-', '-', '-', '-']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['TABLE 3. HEALTH', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', 'I', 'mmuni', 'zation c', 'overag', 'e (%)', '', '', '', 'Pneumonia', 'Diarrhoea', '', 'Malaria', '']
['', 'Udris', 'se of bnking ervices', 'asic water  (%)', 'Usse', 'se of basic anitation rvices (%)', '', '', '', '', '', '', '', '', '', '', 'Protection at birth (PAB) against', 'Care seekingfor children with  symptoms of', 'Treatment with oral rehydra-tion salts', 'Care seeking for children with fever', 'Childrensleep-ing under', 'House-holds with at least one']
['Countries', '', '2015', '', '', '2015', 'BCG', 'DTP1\xce\xb2', 'DTP3\xce\xb2', 'polio3', 'MCV1', 'MCV2^', 'HepB3', 'Hib3', 'rota', 'PCV3', 'tetanus\xce\xbb', 'pneumonia (%)', '(ORS) (%)', '(%)', 'ITNs (%)', 'ITN (%)']
['and areas', 'tota', 'lurban', 'rural', 'total', 'urbanrural', '', '', '', '', '', '2016', '', '', '', '', '', '', '2', '011-2016*', '', '']
['Finland', '100', '100', '100', '99', '9999', '-', '99', '92', '92', '94', '85', '0', '92', '84', '87', '-', '-', '-', '-', '-', '-']
['France', '100', '100', '100', '99', '9999', '-', '99', '97', '97', '90', '79', '88', '96', '0', '91', '-', '-', '-', '-', '-', '-']
['Gabon', '88', '92', '59', '41', '4232', '94', '83', '75', '74', '64', '0', '75', '75', '0', '0', '90', '68', '26', '67', '39', '36']
['Gambia', '80', '88', '68', '42', '4635', '98', '99', '95', '95', '97', '79', '95', '95', '95', '95', '92', '68', '59', '65', '47', '69']
['Georgia', '93', '98', '87', '85', '9573', '98', '97', '92', '92', '93', '85', '92', '92', '75', '75', '-', '74x', '40x', '-', '-', '-']
['Germany', '100', '100', '100', '99', '9999', '-', '95', '95', '94', '97', '93', '88', '93', '66', '86', '-', '-', '-', '-', '-', '-']
['Ghana', '78', '88', '66', '14', '199', '94', '94', '93', '95', '89', '75', '93', '93', '94', '93', '88', '56', '49', '77', '47', '68']
['Greece', '100', '100', '100', '99', '9998', '-', '99', '99', '99', '97', '83', '96', '99', '20', '96', '-', '-', '-', '-', '-', '-']
['Grenada', '96', '-', '-', '78', '--', '-', '98', '96', '98', '95', '85', '96', '96', '0', '0', '-', '-', '-', '-', '-', '-']
['Guatemala', '94', '97', '89', '67', '8153', '87', '96', '80', '82', '86', '65', '80', '80', '82', '81', '90', '52', '49', '50', '-', '-']
['Guinea', '67', '88', '55', '22', '3415', '72', '65', '57', '42', '54', '0', '57', '57', '0', '0', '80', '37', '34', '37', '26', '47']
['Guinea-Bissau', '69', '85', '54', '21', '358', '94', '95', '87', '87', '81', '0', '87', '87', '61', '80', '80', '34', '35', '51', '81', '90']
['Guyana', '95', '100', '93', '86', '8985', '95', '97', '97', '94', '99', '94', '97', '97', '96', '92', '99', '84', '43', '71', '7', '5']
['Haiti', '64', '81', '40', '31', '3722', '72', '78', '58', '56', '53', '26', '58', '58', '48', '0', '88', '38', '53', '40', '12', '19']
['Holy See', '-', '-', '-', '-', '--', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
['Honduras', '92', '99', '84', '80', '8475', '99', '99', '97', '97', '88', '0', '97', '97', '97', '97', '94', '64', '60', '62', '-', '-']
['Hungary', '100', '100', '100', '98', '9899', '99', '99', '99', '99', '99', '99', '0', '99', '0', '98', '-', '-', '-', '-', '-', '-']
['Iceland', '100', '100', '100', '99', '99100', '-', '96', '91', '91', '91', '95', '0', '91', '0', '90', '-', '-', '-', '-', '-', '-']
['India', '88', '93', '85', '44', '6534', '89', '91', '88', '86', '88', '76', '88', '80', '4', '0', '87', '73', '51', '71x', '-', '-']
['Indonesia', '90', '97', '81', '68', '7757', '81', '95', '79', '80', '76', '56', '79', '79', '0', '0', '85', '75', '39', '74', '3x', '3x']
['Iran (Islamic Republic of)', '95', '97', '89', '88', '9279', '99', '99', '99', '99', '99', '98', '99', '99', '0', '0', '95', '76x', '61x', '-', '-', '-']
['Iraq', '86', '90', '78', '86', '8686', '94', '73', '63', '68', '66', '64', '61', '63', '34', '0', '75', '74', '23', '-', '-', '-']
['Ireland', '99', '99', '99', '92', '9195', '18', '98', '95', '95', '92', '0', '95', '95', '0', '91', '-', '-', '-', '-', '-', '-']
['Israel', '100', '100', '100', '100', '100100', '-', '94', '94', '94', '97', '97', '95', '94', '81', '93', '-', '-', '-', '-', '-', '-']
['Italy', '100', '100', '100', '99', '9999', '-', '97', '93', '93', '85', '83', '93', '93', '0', '89', '-', '-', '-', '-', '-', '-']
['Jamaica', '93', '97', '88', '85', '8487', '96', '99', '99', '99', '95', '85', '98', '99', '0', '0', '80', '82', '64', '-', '-', '-']
['Japan', '99', '-', '-', '100', '--', '84', '99', '99', '99', '96', '93', '0', '99', '0', '99', '-', '-', '-', '-', '-', '-']
['Jordan', '99', '99', '97', '97', '9796', '99', '99', '98', '98', '96', '99', '98', '98', '97', '0', '90', '77', '20', '69', '-', '-']
['Kazakhstan', '91', '97', '84', '98', '9799', '95', '93', '82', '82', '99', '99', '82', '82', '0', '97', '-', '81', '62', '-', '-', '-']
['Kenya', '58', '83', '50', '30', '3528', '99', '96', '89', '88', '75', '32', '89', '89', '74', '78', '85', '66', '54', '72', '56', '59']
['Kiribati', '64', '90', '44', '40', '4932', '79', '82', '81', '82', '80', '79', '81', '81', '79', '79', '90', '81x', '62x', '27x', '-', '-']
['Kuwait', '100', '-', '-', '100', '--', '99', '99', '99', '99', '93', '96', '99', '99', '0', '99', '95', '-', '-', '-', '-', '-']
['Kyrgyzstan', '87', '97', '82', '97', '9399', '97', '97', '96', '97', '97', '98', '96', '96', '0', '0', '-', '60', '33', '56', '-', '-']
["Lao People's Democratic Republic", '80', '92', '73', '73', '9360', '78', '85', '82', '83', '76', '0', '82', '82', '0', '78', '90', '54', '42', '-', '43', '50']
['Latvia', '99', '99', '98', '93', '9784', '96', '99', '98', '98', '93', '89', '98', '98', '83', '82', '-', '-', '-', '-', '-', '-']
['Lebanon', '92', '-', '-', '95', '--', '-', '84', '81', '75', '79', '75', '81', '81', '0', '0', '-', '74x', '44x', '-', '-', '-']
['Lesotho', '72', '87', '66', '44', '4643', '98', '98', '93', '90', '90', '82', '93', '93', '0', '93', '85', '63', '53', '61', '-', '-']
['Liberia', '70', '80', '60', '17', '286', '97', '99', '79', '79', '80', '0', '79', '79', '48', '79', '89', '51', '60', '78', '44', '62']
['Libya', '97', '-', '-', '100', '--', '99', '98', '97', '97', '97', '96', '97', '97', '97', '96', '-', '-', '-', '-', '-', '-']
['Liechtenstein', '100', '-', '-', '100', '--', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
['Lithuania', '97', '100', '93', '94', '9786', '98', '97', '94', '94', '94', '92', '95', '94', '0', '82', '-', '-', '-', '-', '-', '-']
['Luxembourg', '100', '100', '100', '98', '9799', '-', '99', '99', '99', '99', '86', '94', '99', '89', '95', '-', '-', '-', '-', '-', '-']
['Madagascar', '51', '82', '34', '10', '166', '70', '84', '77', '75', '58', '0', '77', '77', '78', '76', '78', '41', '15', '46', '73', '80']
['Malawi', '67', '87', '63', '44', '4943', '86', '89', '84', '83', '81', '61', '84', '84', '81', '83', '89', '78', '65', '67', '43', '57']
['Malaysia', '96', '99', '89', '100', '10099', '98', '99', '98', '98', '96', '99', '98', '98', '0', '0', '90', '-', '-', '-', '-', '-']
['Maldives', '98', '96', '100', '96', '9398', '99', '99', '99', '99', '99', '99', '99', '99', '0', '0', '99', '22x', '57x', '84x', '-', '-']
['Mali', '74', '91', '63', '31', '4622', '92', '86', '68', '67', '75', '0', '68', '68', '60', '70', '85', '23', '22x', '49', '79', '93']
['Malta', '100', '100', '100', '100', '100100', '-', '97', '97', '97', '93', '86', '97', '97', '0', '0', '-', '-', '-', '-', '-', '-']
['Marshall Islands', '78', '70', '99', '87', '9566', '94', '87', '71', '69', '75', '49', '73', '58', '38', '51', '-', '-', '38x', '63x', '-', '-']
['Mauritania', '70', '86', '45', '45', '6317', '85', '87', '73', '67', '70', '0', '73', '73', '73', '73', '80', '34', '19', '35', '18', '67']
['Mauritius', '100', '100', '100', '93', '9493', '98', '97', '96', '96', '92', '92', '72', '96', '92', '10', '95', '-', '-', '-', '-', '-']
['Mexico', '98', '100', '94', '89', '9181', '99', '99', '97', '96', '96', '98', '93', '97', '72', '92', '90', '73', '61', '-', '-', '-']
['Micronesia (Federated States of)', '88', '97', '86', '-', '--', '85', '95', '69', '68', '70', '74', '76', '61', '46', '63', '-', '-', '-', '-', '-', '-']
['Monaco', '100', '100', '-', '100', '100-', '89', '99', '99', '99', '99', '0', '99', '99', '0', '0', '-', '-', '-', '-', '-', '-']
['Mongolia', '83', '94', '56', '59', '6641', '99', '99', '99', '99', '98', '90', '99', '99', '0', '0', '-', '70', '42', '-', '-', '-']
['Montenegro', '98', '97', '99', '96', '9892', '88', '97', '89', '89', '47', '86', '75', '89', '0', '0', '-', '89x', '16x', '74', '-', '-']
['Montserrat', '97', '-', '-', '89', '--', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
['Morocco', '83', '96', '64', '83', '8975', '99', '99', '99', '99', '99', '99', '99', '99', '99', '98', '90', '70', '22', '-', '-', '-']
['Mozambique', '47', '79', '32', '24', '4712', '95', '90', '80', '80', '91', '51', '80', '80', '76', '80', '83', '50', '55', '56', '36', '51']
['Myanmar', '68', '82', '60', '65', '7659', '88', '94', '90', '89', '91', '86', '90', '90', '0', '14', '87', '58', '62', '65', '19', '27']
['Namibia', '79', '97', '63', '34', '5515', '94', '98', '92', '92', '85', '0', '92', '92', '86', '81', '88', '68', '72', '63', '6', '24']
['Nauru', '100', '100', '-', '66', '66-', '99', '98', '91', '91', '98', '96', '91', '91', '0', '0', '-', '69x', '23x', '51x', '-', '-']
['Nepal', '88', '89', '87', '46', '5245', '93', '92', '87', '85', '83', '25', '87', '87', '0', '46', '82', '85', '37', '46', '-', '-']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['TABLE 3. HEALTH', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', 'I', 'mmuni', 'zation c', 'overage', '(%)', '', '', '', 'Pneumonia', 'Diarrhoea', '', 'Malaria', '']

In [18]:
first_name = ''
data1 = {}
data2 = {}

# loop to get two tables with different number of columns
for table in tables:
    for row in table[5:]:
        if row[0] == 'SUMMARY':
            break
        if row[2] == '':
            first_name = row[0]
            continue
        if first_name != '':
            row[0] = '{} {}'.format(first_name, row[0])
            first_name = ''
        if len(row) == 22:
            data1[row[0]] = row[1:]
        if len(row) == 12:
            data2[row[0]] = row[1:]
            
# Creating a dataframe for table 1
df =  pd.DataFrame(data1)
df = df.T
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Afghanistan,63,89,53,3956,33,74,73,65,60,62,...,65,65,0,65,65,62,46,63,5,26
Albania,91,93,90,9898,97,99,99,98,98,96,...,98,98,0,98,92,70x,54x,71x,-,-
Algeria,93,95,89,8790,82,99,96,91,91,94,...,91,91,0,61,92,66,25,-,-,-
Andorra,100,100,100,100100,100,-,99,98,98,97,...,94,98,0,92,-,-,-,-,-,-
Angola,41,63,23,3962,21,58,79,64,66,49,...,64,64,53,58,78,49,43,51,22,31

## 4. Arranging the data

For 3rd column, where values are joined, I am separating those values using regular expression. By checking the length of the values and accordingly putting those values to their respective places. Every value is checked for pattern in the string. Based on this pattern values are sorted. For example, some values have '-' or 'x'.

A regex is defined for separating values in the columns. The \d{2} is used for matching digits of length two, while '\d{3}' is used for matching three digits number. In some place ('-') special character is used. Therefore, it is used as  '((\d{2})(-))'


- \w Matches any alphanumeric character, which is equivalent to [a-zA-Z0-9].
- \S: Matches any non-whitespace character; which is equivalent to [^ \t\n\r\f\v].
- \d Matches any decimal digit; equivalent to the set [0-9].

In [19]:
# combining 3rd and 4th column into strings and making new column 21
df[21] = df[3].map(str) + df[4]

# spliiting column 21 into three rows
x1 = df[21].values.tolist()
xlist = []
for i in x1:
    if len(i) == 3:
        num = re.match('((-)+)', i).group(2)
        xlist.append([num, num, num])
    if len(i) == 4:
        if i.endswith('-'):
            num = re.match('((\d{2})(-))', i).group(2)
            num1 = re.match('((\d{2})(-))', i).group(3)
            xlist.append([num, num1, num1])
        else:
            num = re.match('((\d\d)(\d\d))', i).group(2)
            num1 = re.match('((\d\d)(\d\d))', i).group(3)
            xlist.append([num, num1, '-'])
    if len(i) == 5:
        
        if i.endswith('--'): 
            num = re.match('((\d{3})(-))', i).group(2)
            num1 = re.match('((\d{3})(-))', i).group(3)
            xlist.append([num, num1, num1])
        elif i.endswith('6-') or i.endswith('7-'):  
            num = re.match('((\d{2})(\d{2})(-))', i).group(2)
            num1 = re.match('((\d{2})(\d{2})(-))', i).group(3)
            num2 = re.match('((\d{2})(\d{2})(-))', i).group(4)
            xlist.append([num, num1, num2])
        elif i.endswith('-93'):
            num = re.match('((\d{2})(-)(\d{2}))', i).group(2)
            num1 = re.match('((\d{2})(-)(\d{2}))', i).group(3)
            num2 = re.match('((\d{2})(-)(\d{2}))', i).group(4)
            xlist.append([num, num1, num2])
        else:
            num = re.match('((\d{2})(\d{2})(\d))', i).group(2)
            num1 = re.match('((\d{2})(\d{2})(\d))', i).group(3)
            num2 = re.match('((\d{2})(\d{2})(\d))', i).group(4)
            xlist.append([num, num1, num2])
    
    if len(i) == 6:
        num = re.findall('\d{2}', i)
        xlist.append(num)
    
    if len(i) == 7:
        if i.endswith('-'): 
            num = re.match('((\d{3})(\d{3})(-))', i).group(2)
            num1 = re.match('((\d{3})(\d{3})(-))', i).group(4)
            xlist.append([num, num, num1])

        if i.endswith('100'):
            num = re.match('((\d{2})(\d{2})(\d{3}))', i).group(2)
            num1 = re.match('((\d{2})(\d{2})(\d{3}))', i).group(3)
            num2 = re.match('((\d{2})(\d{2})(\d{3}))', i).group(4)
            xlist.append([num, num1, num2])
        if i.endswith('99'):
            num = re.match('((\d{2})(\d{3})(\d{2}))', i).group(2)
            num1 = re.match('((\d{2})(\d{3})(\d{2}))', i).group(3)
            xlist.append([num, num1, num])
            
    if len(i) == 8:
        num = re.match('((\d{3})(\d{3})(\d{2}))', i).group(2)
        num1 = re.match('((\d{3})(\d{3})(\d{2}))',i).group(4)
        xlist.append([num, num, num1])
    
    if len(i) == 9:
        num = re.findall('\d{3}', i)
        xlist.append(num)

            
print(len(xlist))

188

In [20]:
# putting each rows into separate list
r1 = []
r2 = []
r3 = []
for i in xlist:
    r1.append(i[0])
    r2.append(i[1])
    r3.append(i[2])
    
# putting list into dataframe
df[22] = r1
df[23] = r2
df[24] = r3
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
Afghanistan,63,89,53,3956,33,74,73,65,60,62,...,65,62,46,63,5,26,395633,39,56,33
Albania,91,93,90,9898,97,99,99,98,98,96,...,92,70x,54x,71x,-,-,989897,98,98,97
Algeria,93,95,89,8790,82,99,96,91,91,94,...,92,66,25,-,-,-,879082,87,90,82
Andorra,100,100,100,100100,100,-,99,98,98,97,...,-,-,-,-,-,-,100100100,100,100,100
Angola,41,63,23,3962,21,58,79,64,66,49,...,78,49,43,51,22,31,396221,39,62,21

In [21]:
# dropping unwanted columns and rearranging the dataframe
df = df.drop([3, 4, 21], axis=1)
df = df[[0, 1, 2, 22, 23, 24, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]
df.head()

,0,1,2,22,23,24,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
Afghanistan,63,89,53,39,56,33,74,73,65,60,...,65,65,0,65,65,62,46,63,5,26
Albania,91,93,90,98,98,97,99,99,98,98,...,98,98,0,98,92,70x,54x,71x,-,-
Algeria,93,95,89,87,90,82,99,96,91,91,...,91,91,0,61,92,66,25,-,-,-
Andorra,100,100,100,100,100,100,-,99,98,98,...,94,98,0,92,-,-,-,-,-,-
Angola,41,63,23,39,62,21,58,79,64,66,...,64,64,53,58,78,49,43,51,22,31

In [22]:
# renaming the columns serially
df.columns = list(range(len(df.columns)))

# replace speacial characters in the dataframe
df.replace('x', '', regex=True, inplace=True)
df.replace('-', '', regex=True, inplace=True)

df.index.name = 'Country Name' # renaming index as Country Name

df.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,63,89,53,39,56,33,74,73,65,60,...,65,65,0,65,65,62,46,63,5,26
Albania,91,93,90,98,98,97,99,99,98,98,...,98,98,0,98,92,70,54,71,,
Algeria,93,95,89,87,90,82,99,96,91,91,...,91,91,0,61,92,66,25,,,
Andorra,100,100,100,100,100,100,,99,98,98,...,94,98,0,92,,,,,,
Angola,41,63,23,39,62,21,58,79,64,66,...,64,64,53,58,78,49,43,51,22,31

## 5. Used Tabula for parsing pdf page 4.

In [31]:
# importing libraries
from tabula import read_pdf
import pandas as pd


#df1=read_pdf('health.pdf', encoding='latin-1', pages =1)
#df2=read_pdf('health.pdf',encoding = 'latin-1', pages=2)
#df3=read_pdf('health.pdf',encoding = 'latin-1', pages=3)
df4=read_pdf('health.pdf',encoding = 'latin-1', pages=4,area=[98,39,153,554]) # reading page 4 only
#top, left, top + height, left + width

Note: I have used tabula for parsing pdf page 4, since it is very easy with tabula using the pixels measurements from pdf file.

In [32]:
# getting the required data
df1 = df4.iloc[6:]
df1.set_index(df1['Unnamed: 0'].values, inplace=True)
df1.drop(['Unnamed: 0'], 1, inplace=True)

C:\Users\nikhi\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [33]:
# using regex spliiting the columns
df1[[1, 2, 3]] = df1['Unnamed: 1'].str.split('\s*', expand=True)
df1[[4, 5, 6]] = df1['Unnamed: 2'].str.split('\s*', expand=True)
df1[[7, 8, 9, 10, 11]]=df1['Immunization coverage (%)'].str.split('[\s_]+', expand=True)

In [34]:
# removing the special characters by replacing them with space.
df1.replace(' x', '', regex=True, inplace=True)
df1.replace('', '', regex=True, inplace=True)

C:\Users\nikhi\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\nikhi\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [35]:
# arranging the columns
df1[[12,13]] = df1['Pneumonia Diarrhoea'].str.split('\s*', expand=True)
df1 =df1[[1, 2, 3, 4, 5, 6,'Unnamed: 3','Unnamed: 4','Unnamed: 5', 7, 8, 9, 10, 11,'Unnamed: 7'
      ,'Unnamed: 8','Unnamed: 9',12, 13,'Unnamed: 11', 'Malaria','Unnamed: 13']]


# renaming columns serially
df1.columns = list(range(len(df1.columns)))
df1.index.name = 'Country Name'
df1.dropna(0,how ='all',inplace=True )

In [36]:
# concat two dataframes
df2 = pd.concat([df, df1])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,63,89,53,39,56,33,74,73,65,60,...,65,65,0,65,65,62,46,63,5,26
Albania,91,93,90,98,98,97,99,99,98,98,...,98,98,0,98,92,70,54,71,,
Algeria,93,95,89,87,90,82,99,96,91,91,...,91,91,0,61,92,66,25,,,
Andorra,100,100,100,100,100,100,,99,98,98,...,94,98,0,92,,,,,,
Angola,41,63,23,39,62,21,58,79,64,66,...,64,64,53,58,78,49,43,51,22,31

In [37]:
print(df2.shape)
df2.head()

(202, 22)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,63,89,53,39,56,33,74,73,65,60,...,65,65,0,65,65,62,46,63,5,26
Albania,91,93,90,98,98,97,99,99,98,98,...,98,98,0,98,92,70,54,71,,
Algeria,93,95,89,87,90,82,99,96,91,91,...,91,91,0,61,92,66,25,,,
Andorra,100,100,100,100,100,100,,99,98,98,...,94,98,0,92,,,,,,
Angola,41,63,23,39,62,21,58,79,64,66,...,64,64,53,58,78,49,43,51,22,31
Anguilla,98,98,,97,97,,,,,,...,,,,,,,,,,
Antigua and Barbuda,97,,,88,,,,99,99,86,...,99,99,0,0,,,,,,
Argentina,100,100,100,95,95,94,92,97,92,87,...,92,92,75,82,,94,18,,,
Armenia,99,99,99,92,96,83,99,97,94,96,...,94,94,94,94,,57,37,71,,
Australia,100,100,100,100,,,,98,94,94,...,94,94,87,94,,,,,,
Austria,100,100,100,100,100,100,,99,87,87,...,87,87,61,0,,,,,,
Azerbaijan,84,95,72,89,92,87,98,98,97,98,...,97,97,0,97,,36,11,,1,
Bahamas,98,,,92,,,,95,94,94,...,94,94,0,94,100,,,,,
Bahrain,100,,,100,,,,99,99,99,...,99,99,98,99,98,,,,,
Bangladesh,97,98,97,47,54,43,99,99,97,97,...,97,97,0,97,97,42,77,55,,
Barbados,98,,,96,,,,99,97,97,...,97,97,0,96,,,,,,
Belarus,98,98,99,94,94,95,98,99,98,98,...,96,11,0,0,,93,45,,,
Belgium,100,100,100,99,99,99,,99,98,98,...,97,97,87,94,,,,,,
Belize,97,99,96,87,91,84,94,98,95,96,...,95,95,0,0,91,67,55,71,,
Benin,67,77,60,14,25,5,96,86,82,78,...,82,82,0,75,85,23,25,44,73,77
Bhutan,98,97,98,63,72,57,99,99,98,97,...,98,98,0,0,89,74,61,,,
Bolivia (Plurinational State of),93,99,79,53,64,27,99,99,99,99,...,99,99,99,97,87,62,22,,,
Bosnia and Herzegovina,98,97,98,95,99,92,97,90,78,79,...,78,69,0,0,,87,36,,,
Botswana,79,95,58,60,75,39,98,98,95,96,...,95,95,95,95,92,14,43,75,31,53
Brazil,97,99,87,86,91,58,99,89,86,98,...,86,86,94,94,93,50,,,,
British Virgin Islands,100,,,97,,,,,,,...,,,,,,,,,,
Brunei Darussalam,100,100,99,96,96,97,99,99,99,99,...,99,99,0,0,95,,,,,
Bulgaria,99,99,99,86,87,84,96,94,92,92,...,91,92,0,90,,,,,,
Burkina Faso,54,79,43,23,48,12,98,95,91,91,...,91,91,91,91,92,52,40,61,75,90
Burundi,56,88,52,50,46,51,93,97,94,94,...,94,94,96,94,85,63,36,69,40,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sweden,100,100,100,99,99,100,26,99,98,98,...,67,98,0,97,,,,,,
Switzerland,100,100,100,100,100,100,,99,97,97,...,0,97,0,81,,,,,,
Syrian Arab Republic,97,99,94,93,96,89,66,61,42,48,...,50,42,0,0,91,77,50,,,
Tajikistan,74,92,68,95,94,96,98,98,96,97,...,97,97,96,0,,63,60,57,1,2
Thailand,98,99,97,95,94,96,99,99,99,99,...,99,0,0,0,95,80,73,76,,
The former Yugoslav Republic of Macedonia,97,96,98,91,97,83,99,97,95,95,...,94,94,0,0,,93,62,,,
Timor-Leste,70,91,60,44,73,30,85,95,85,83,...,85,85,0,0,81,71,71,73,41,41
Togo,63,90,45,14,28,5,79,93,89,89,...,89,89,90,89,83,49,19,58,43,65
Tokelau,100,,100,93,,93,,,,,...,,,,,,,,,,
Tonga,100,100,100,93,97,92,80,83,78,80,...,78,78,0,0,,,,64,,
Trinidad and Tobago,97,,,92,,,,97,97,84,...,97,97,0,91,,74,,,,
Tunisia,94,100,83,93,98,83,95,99,98,98,...,98,98,0,0,96,60,65,,,
Turkey,99,99,100,96,99,89,96,99,98,98,...,98,98,0,98,90,,,,,
Turkmenistan,94,91,98,97,94,99,98,99,98,98,...,98,98,0,0,,59,47,,,
Turks and Caicos Islands,94,,,88,,,,,,,...,,,,,,,,,,
Tuvalu,99,100,99,91,92,91,98,99,94,94,...,94,94,0,0,,,44,79,,
Uganda,39,73,32,19,28,17,93,89,78,82,...,78,78,0,78,87,80,47,81,62,78
Ukraine,98,97,100,96,97,93,75,42,19,56,...,26,47,0,0,,92,59,,,
United Arab Emirates,100,100,100,100,100,100,99,99,99,99,...,99,99,92,99,,,,,,
United Kingdom,100,100,100,99,99,99,,98,94,94,...,0,94,90,92,,,,,,
United Republic of Tanzania,50,79,37,24,37,17,99,99,97,93,...,97,97,96,96,90,55,45,50,54,66
United States,99,100,97,100,100,100,,97,95,94,...,93,93,73,93,,,,,,
Uruguay,99,100,94,96,96,95,98,97,95,95,...,95,95,0,94,,91,,,,
Uzbekistan,,99,,100,100,100,99,99,99,99,...,99,99,99,99,,68,28,,,
Vanuatu,91,99,87,53,61,51,73,75,64,65,...,64,64,0,0,78,72,48,57,51,83
Venezuela (Bolivarian Republic of),97,99,86,95,98,72,99,98,84,82,...,84,84,47,7,75,72,38,,,
Viet Nam,91,92,91,78,91,72,95,96,96,95,...,96,96,0,0,94,81,51,,9,10
Yemen,70,85,63,60,90,44,73,76,71,65,...,71,71,59,71,70,34,25,33,,
Zambia,61,86,44,31,49,19,99,99,91,87,...,91,91,90,90,85,70,64,75,41,68
Zimbabwe,67,94,54,39,54,31,95,94,90,90,...,90,90,91,90,80,51,41,50,9,48

## 6. Converting dataframe to csv

In [38]:
# save file to csv format
df2.to_csv('health.csv', encoding='utf-8-sig')

## 7. Summary

This assessment measured the understanding of basic PDF file processing techniques in the Python programming language. The main outcomes achieved while applying these techniques were:

- **PDF parsing and data extraction**: By using the Regular expression. With functions like findall() and re..macth() and Tabula it was possible to access text data with only a few inspections.

- **Exporting data to specific format** : By using built-in functions like `DataFrame.to_csv()` it was possible to export data frames into `.csv` files without additional formatting and transformations. In other cases, native file operations like `open()` and `write()` were required where data had to be processed line by line. Encoding is required to remove and special character appearance in the output file

## 8. Referneces

- *Convert Dataframe column values to string* https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string

- *Encoding, for removing soecial characters in output file*  https://stackoverflow.com/questions/34399172/why-does-my-python-code-print-the-extra-characters-%C3%AF-when-reading-from-a-tex

- *Tabula file reading* https://github.com/chezou/tabula-py/blob/master/README.md